.App {
  width: auto
  ;
  text-align: center;
  
  position: absolute;
  
}

.Coontainer{
  
  height:500px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttom{

  border: 30px;
  top: 200px;
  height: 100px;
  weight: 200px;
  background-color: aqua;
}

.up{

  width: 100px;
}

.dark{
  background:bisque;
}